a {
  text-decoration: none;
  color: grey;
}

body {
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 50px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.logo {
  width: 60px;
}

.left-nav {
  display: flex;
  float: left;
  flex-flow: nowrap;
}

.right-nav {
  float: right;
}

.main-nav a {
  padding: 15px;
  color: grey;
  margin-left: 5px;
  height: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.splash-img {
  display: flex;
  position: relative;
  height: 600px;
  overflow: hidden;
}

.splash-img img {
  width: 100%;
}

.splash-img h2 {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 350px;
  left: 280px;
  text-align: center;
}

footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
