.band-index {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.band-index-item {
  padding: 10px;
  text-align: center;
}

.buttons a {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #37393d;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
}

.buttons {
  display: block;
  text-align: center;
}
