<section class="main-content">
  <h1>Sign Up</h1>

  <%= render 'shared/errors' %>

  <form action="<%= users_url %>" method="post">
    <%= auth_token %>

    <input id="email" type="text" name="user[email]" placeholder="Email">

    <br>

    <input id="password" type="password" name="user[password]" placeholder="Password">

    <br>

    <input type="submit" value="Submit">
  </form>
</section>
